// Colors
$base-font-color: #2c3e50;
$button-red: #F44336;
$button-green: #52AB7E;
$button-blue: #326FB7;
$button-lightblue: #5BA3E9;
$button-yellow: #326FB7;
$button-gray: #7a8796;
$light-gray: #e0e0e0;
$vue-green: #64b587;
$vue-gray: #39495C;
// Font Size

// Spacing
$xs-size: .75rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
